{% extends "base.html" %} {% block content %} {% for product in products %}

<div class='row pt-3' style="cursor:pointer">
    <div class='col-2'>
        <img src="{{ product.icon.url }}" class="img-fluid" />
    </div>

    <div class='col-6' onclick="window.location='{% url 'detail' product.id %}'">
        <h2>{{product.stitle}}</h2>
        <p> {{product.summary}} </p>
    </div>

    <div class='col-4'>
        <div class="like-section" name='{{product.id}}'>
            {% include 'like.html' %}
        </div>
        <a href='{% url "remove_cart" product.id %}'><button class="btn btn-primary btn-lg btn-block" style="background-color:grey;color:blue"><i class="fa fa-close" style="color:red"></i> Remove from Cart</button></a>
    </div>
</div>

<br> {% endfor %} {% endblock content %}