<center>

    <form class="btn_form" action="{% url 'response' %}" method="post">
        {% csrf_token %}
        <button type='submit' value="{{product.id}}" class="btn btn-primary btn-lg like_btn_{{choices|lookup:product.id}} like" id="like_btn"><i class="fa fa-caret-up"></i> Likes {{product.likes}}</button>
    </form>
    <form class="btn_form" action="{% url 'response' %}" method="post">
        {% csrf_token %}
        <button type='submit' value={{product.id}} class="btn btn-lg dislike_btn_{{choices|lookup:product.id}} dislike" id="dislike_btn" style="background:red;color:white"><i class="fa fa-caret-down"></i> Dislikes {{product.dislikes}}</button>
    </form>
</center>
<br>